# Ignore compiled Python files
*.pyc

# Ignore system-specific files
__pycache__
.DS_Store

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore environment-specific files
venv/
.env

# Ignore distribution/build files
dist/
build/

#files
config.json